<html>


<head>
    {% load static %}

    <title>8PZ</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'puzzle/index.css' %}">
</head>

<body>
    <form id="form" method="post" action="">
        {% csrf_token %}
        <div class="container">
            <div class="row" style="width: 100%;height: 80%;">
                <!-- Page title -->
                <h1 class="title">Welcome to 8 Pieces of Puzzle Magic</h1>
                <!-- Initial state puzzle -->
                <div class="container col-3">
                    <div class="row">
                        <h4 class="col" style="text-align: left;">Initial State</h4>
                        <button class="col-2 generate-btn" type="button" onclick="generateRandomPieces('INIT')">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </div>
                    <div class="puzzle">
                        {% for i in range %}
                        <div class="puzzle-piece">
                            <input type="number"
                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                maxlength="1" name="initStatePiece_{{ forloop.counter0 }}"
                                id="initStatePiece_{{ forloop.counter0 }}" class="form-control">
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- Final state puzzle -->
                <div class="container col-3">
                    <div class="row">
                        <h4 class="col" style="text-align: left;">Final State</h4>
                        <button class="col-2 generate-btn" type="button" onclick="generateRandomPieces('FINAL')">
                            <i class="fa fa-refresh"></i>
                        </button>
                    </div>
                    <div class="puzzle">
                        {% for i in range %}
                        <div class="puzzle-piece">
                            <input type="number"
                                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                                maxlength="1" name="finalStatePiece_{{forloop.counter0}}"
                                id="finalStatePiece_{{forloop.counter0}}" class="form-control">
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Solve button -->
        <button class="main-btn" id="start-btn" type="submit">SOLVE</button>
        <!-- Names section -->
        <h6 style="color:darkslategrey; margin-top: 28px;">made by: Obay_ @ SVU_ITE_BAI501_S23
        </h6>
        <input id="moves" hidden value="{{path_moves}}">
    </form>
    <!-- Reset button -->
    <button class="main-btn" id="reset-btn" style=" display: none;">RESET</button>
    <!-- result section -->
    <div id="result-sec" class="result-section" style="display: none; background-color:beige;">
        <div class="container row" style="height: 65%;margin: auto;">
            <div class="col-3" style="margin:auto;">
                <input hidden id="total_moves" value="{{total_moves}}">
                <h4>Total Moves: {{total_moves}}</h4>
                <h1 id="moves_counter" style="text-align: center;margin-top: 40%;"></h1>
                <!-- Moves Controls -->
                <div class="row" style="margin-top: 40%;">
                    <button id="left_arrow" title="prev move" class="btn col" onclick="showPreviousMove();"><i
                            class="fa fa-chevron-circle-left" style="font-size: 26px;"></i></button>
                    <button id="auto-play-btn" title="auto-show moves" class="btn col"><i class="fa fa-play-circle"
                            style="font-size: 26px;"></i></button>
                    <button id="reset-auto-play-btn" title="reset" class="btn col"><i class="fa fa-refresh"
                            style="font-size: 26px;"></i></button>
                    <button id="right_arrow" title="next move" class="btn col" onclick="showNextMove();"><i
                            class="fa fa-chevron-circle-right" style="font-size: 26px;"></i></button>
                </div>
            </div>
            <div class="container col-2"></div>
            <!-- Result puzzle -->
            <div class="container col-3" style="margin:auto;">
                <div class="step-puzzle">
                    {% for i in range %}
                    <div class="step-puzzle-piece">
                        <input type="text" disabled maxlength="1" name="stepPiece_{{forloop.counter0}}"
                            id="stepPiece_{{forloop.counter0}}" class="form-control">
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="{% static 'puzzle/index.js' %}"></script>

</html>